<div [ngClass]="{ show: portfolio.loading }" class="loading-screen">
  <div class="loading-text"></div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>

<component-menu></component-menu>

<div class="view-wrapper">
  <section-video id="intro"></section-video>
  <section-about id="about"></section-about>
  <section-expertin id="exprtin"></section-expertin>
  <section-accomplishments id="accomplishments"></section-accomplishments>
  <section-experience id="experience"></section-experience>
  <section-projects id="projects"></section-projects>
  <section-education-conferences id="education"></section-education-conferences>
  <section-contact id="contact"></section-contact>
</div>
