.content {
  padding: 0 10%;
}
.actions {
  width: 100%;
  text-align: center;
  margin-top: 32px;
  padding: 0 10%;
  box-sizing: border-box;
}
.projects {
  background-color: #ffffff;
  padding: 64px 10%;
  box-sizing: border-box;
  overflow: hidden;
}
.projects .h2 {
  margin: 32px 0 80px 0;
}
